{% extends "base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}


{% block menu%}
{% endblock %}

{% block content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Connexion</h1>
                  </div>
                  <form class="user" action="{{ path("fos_user_security_check") }}" method="post">
                        {% if csrf_token %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        {% endif %}
                    <div class="form-group">
                      <label for="username">Nom d'utilisateur</label>
                      <input type="text" class="form-control form-control-user" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" placeholder="Nom d'utilisateur ou Email">
                    </div>
                    <div class="form-group">
                      <label for="password">Mot de passe</label>
                      <input type="password" class="form-control form-control-user" id="password" name="_password" required="required" autocomplete="current-password" placeholder="Mot de passe">
                    </div>
                    <div class="form-group">
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block" id="_submit" name="_submit">Se Connecter</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

                    
{% endblock %}
